@charset "utf-8";
@media screen and (max-width:1380px) {
    .wrap {
        width: 100%;
        /* overflow: hidden; */

    }

    .container {
        max-width: 100%;
    }

    header .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    header ul {
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* gap: 25px; */
    }

    header ul h1 {
        height: 90%;
    }

    main {
        width: 100%;
    }

    .main_visual .container {
        width: 90%;
    }

    .main_visual .main_banner {
        /*   width: 1024px;
        margin: 0 auto; */
    }

    .main_visual .main_banner .main_bannerleft img:nth-child(2) {
        display: none;
    }

    .main_visual .main_banner .center {
        align-items: center;
    }

    .main_visual .main_banner .banner_box {
        /*  width: 100%; */
        width: 265px;
        height: 50px;
        /*    display: flex; */
        margin-top: 30px;
        line-height: 50px;
        /* background: #ccc; */
    }

    .main_visual .main_banner .banner_box a {
        font-size: 25px;
        text-align: center;
    }

    .main_visual .main_banner .banner_box>div:nth-child(1) {
        width: 125px;
    }

    .main_visual .main_banner .banner_box>div:nth-child(2) {
        width: 140px;
    }

    .main_visual .main_banner h3 {
        font-size: 60px;
    }

    .main_visual .main_banner .main_bannerright {
        width: 100px;
        border-left: 10px dashed #E1E1E1;
    }

    .main_visual .main_banner .main_bannerright p {
        font-size: 12px;
    }

    section.rank_match {
        height: auto;
        background-size: cover;
        padding-top: 100px;
        padding-bottom: 100px;
        /* background-image: url(../img/con2main_1024.png); */
        /* background-image: url(../img/con2main.png);  */
        /* margin-top: 150px; */
    }

    section.rank_match .container {
        width: 90%;
        height: 1000px;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: space-around; */
    }

    section.rank_match article {
        width: 90%;
    }

    section.rank_match article.rank ul li:not(:first-child) span:nth-child(2) {
        justify-content: flex-start;
        /* padding-left: 50px; */
    }

    section.rank_match article.match {
        justify-content: space-around;
        flex-direction: column;
    }

    article.mdshop h2 {
        margin-top: 100px;
    }


    article.mdshop .md_txtbox {
        margin-right: 50px;
    }

    section.news {
        display: flex;
        flex-direction: column;
        height: 2200px;
        align-items: center;
        margin-bottom: 150px;
        margin-top: 150px;
    }

    section.news .news_left {
        width: 590px;
        height: 1800px;
    }

    section.news .news_left .news_txt h2 {
        width: 100%;
        font-size: 150px;
    }

    section.news .news_left .news1 {
        margin-bottom: 50px;
        width: 100%;
        height: 100%;
        background-image: url(../img/news1_1380.png);
        background-position: center center;
        background-repeat: no-repeat;
        display: flex;
    }

    section.news .news_left .news1 h5 {
        font-size: 30px;
        margin-bottom: 80px;
        height: 30px;
        width: 520px;
    }

    section.news .news_right {
        margin: 0;
    }

    article.media .slide ul {}

    article.media .slide ul li {}

    section.stadium {
        width: 100%;
        height: 1750px;

    }

    section.stadium .container {
        width: 100%;
        height: 100%;
        text-align: center;
        /*         display: flex;
        justify-content: center;
        align-items: center; */
    }

    section.stadium .stadium_wrap {
        height: auto;
    }

    section.stadium .stadium_box {
        justify-content: center;

        margin-top: 100px;
    }

    section.stadium .stadium_h2bg {
        height: 80px;
        margin-right: 20px;
    }

    section.stadium h2 {
        font-size: 60px;
    }

    section.stadium h4 {
        font-size: 45px;
        margin-bottom: 20px;
    }

    section.stadium p {
        font-size: 16px;
    }

    section.stadium .container {
        max-width: 100%;
        height: 100%;
    }

    section.stadium .stadium_wrap {}

    section.stadium article {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 400px;
    }

    section.stadium article .img_box {
        width: 500px;
        overflow: hidden;

    }

    section.stadium article .img_box img {
        display: none;
    }

    section.stadium article .txt_box {
        width: 500px;
        border-radius: 0px 250px 0px 0px;
        border-right: 8px solid #2D5C53;
        background: #FFF;
        /* stadium_right */
        box-shadow: 10px -10px 60px 0px rgba(45, 92, 83, 0.10);
    }

    section.stadium article.stadiumtour .txt_box {
        border-radius: 0px 0px 0px 250px;
        border-left: 8px solid #2D5C53;
        background: #FFF;
        /* stadium_left */
        box-shadow: -10px 20px 60px 0px rgba(45, 92, 83, 0.20);
    }

    section.stadium article .stadiumtour_img {
        /* background-image: url(../img/stadiumtour_1380.jpg); */
    }

    section.stadium article.totstadium {
        height: 550px;
        padding-top: 150px;

    }

    section.stadium article.totstadium .totstadium_wrap {
        justify-content: center;
        position: relative;

    }

    section.stadium article.totstadium .totstadium_left {
        width: 700px;
    }

    section.stadium article.totstadium .totstadium_left img {}

    section.stadium article.totstadium .totstadium_left .totstadium_leftbox {
        width: 80px;
        height: 350px;
        left: 10px;
    }

    section.stadium article.totstadium .totstadium_left .totstadium_rightbox {
        width: 80px;
        height: 120px;
        right: 10px;
    }

    section.stadium article.totstadium .totstadium_left .totstadium_rightbox img {
        width: 40px;
        height: 85px;
    }

    section.stadium article.totstadium .totstadium_left img {
        width: 600px;
    }

    section.stadium article.totstadium .totstadium_txt {
        width: 500px;
    }

    article.sponsor .container {
        width: 100%
    }


    footer .container {
        width: 100%;
        justify-content: space-around;
    }

}

@media screen and (max-width:1024px) {
    .wrap {
        width: 100%;
    }

    header .container {
        height: 100%;
    }

    header nav {
        width: 90%;
        height: 100%;
    }

    header ul h1 {
        width: 100%;
    }

    header ul li:nth-child(4) {
        order: -1;
        object-fit: cover;
        height: 100%;

    }

    header ul li:nth-child(5),
    header ul li:nth-child(6),
    header ul li:nth-child(7),
    header ul li:nth-child(8) {
        display: none;
    }

    header ul li:nth-child(9),
    header ul li:nth-child(10) {
        display: flex;
    }

    main {
        background: #fff;
        height: auto;
    }

    .main_visual .container {
        width: 82%;

    }

    .main_visual .main_banner {
        width: 100%;
        background-image: url(../img/banner_1024.png);
        background-repeat: no-repeat;
        background-position: center center;
        object-fit: cover;
        height: 490px;
        border: 5px solid #111836;
    }

    .main_visual .main_banner .main_bannerleft {
        width: 10%;
        background: #fff;
    }

    .main_visual .main_banner .main_bannerleft img:nth-child(1) {
        display: none;
    }

    .main_visual .main_banner .main_bannerleft img:nth-child(3) {
        display: block;
    }

    .main_visual .main_banner .main_bannerleft img:nth-child(4) {
        display: block;
    }

    .main_visual .main_banner .center {
        display: none;
    }

    .main_visual .main_banner .main_bannerright {
        width: 10%;
        border-left: 8px dashed#111836;
        background: #fff;

    }

    .main_visual .main_banner .main_bannerright p {
        color: #111836;
    }

    section.rank_match {
        background-image: url(../img/con2main_834.png);
        padding-top: 100px;
        padding-bottom: 100px;
    }

    article.mdshop .visual {
        height: 1200px;
        background: url(../img/mdshop_1024.png) no-repeat center center/cover;
    }

    article.media .slide ul li a i{
    display: none;
    }
    
    section.stadium {
        width: 100%;
        height: auto;

    }

    section.stadium .container {
        width: 82%;
        height: 100%;
    }

    section.stadium .stadium_h2bg {
        height: 60px;
        margin-right: 20px;
        width: 10px;
    }

    section.stadium h2 {
        font-size: 60px;
        display: none;
    }

    section.stadium h2:last-child {
        display: block;
    }

    section.stadium h4 {
        padding-bottom: 50px;
        font-size: 50px;
    }

    section.stadium p {
        font-size: 22px;
    }

    section.stadium article {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 1030px;
    }

    section.stadium article .img_box {
        width: 100%;
        overflow: hidden;

    }

    section.stadium article .txt_box {
        width: 100%;
        border-radius: 0px 0px 260px 260px;
        border-right: 8px solid #2D5C53;
        border-left: 8px solid #2D5C53;
    }

    section.stadium article.stadiumtour {
        margin-top: 100px;
    }

    section.stadium article.stadiumtour .txt_box {
        border-radius: 0px 0px 260px 260px;
        border-right: 8px solid #2D5C53;
        border-left: 8px solid #2D5C53;
    }

    section.stadium article.stadiumtour .txt_box {
        order: 2;
    }

    section.stadium article.totstadium .totstadium_wrap {
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    section.stadium article.totstadium {
        margin-top: 100px;
        padding-bottom: 100px;
        height: 700px;
    }

    section.stadium article.totstadium .totstadium_txt .tot_txtbox h4 {
        padding-top: 50px;
    }

    section.stadium article.totstadium .totstadium_txt .tot_txtbox p {
        font-size: 20px;
    }

    article.sponsor .container {
        width: 90%
    }

    article.sns .container {
        width: 60%;
    }

    footer .container {
        width: 90%;
    }

    footer .f_right {
        display: none;
    }
}

@media screen and (max-width:740px) {
    .wrap {
        width: 100%;
        /* overflow: hidden; */

    }

    .container {
        max-width: 100%;
    }


    header nav {
        width: 100%;
    }

    header ul li {
        width: auto;
    }

    header ul h1 {
        width: 100%;
    }


    header ul li:nth-child(1),
    header ul li:nth-child(2),
    header ul li:nth-child(3),
    header ul li:nth-child(10) {
        display: none;
    }

    header ul li:nth-child(8) {
        display: flex;
    }

    .main_visual .container {
        width: 100%;
    }

    section.rank_match article.rank {
        width: 80%;
    }


    section.rank_match article.rank ul li span {
        font-size: 14px;

    }

    section.rank_match article.rank ul li span img {
        width: 30px;
        height: 30px;
    }

    section.rank_match article.match {
        width: 80%;
    }

    section.rank_match article.match h3 {
        font-size: 30px;
    }

    section.rank_match article.match .vs {
        width: 90%;
        margin: 0 auto;
    }

    section.rank_match article.match h4 {
        font-size: 50px;
    }

    section.rank_match article.match .match_txt {
        width: 100%;
    }

    section.rank_match article.match .match_txt p {
        font-size: 30px;
    }

    section.news {
        height: auto;
    }

    section.news .news_left {
        display: none;
    }


    section.news .news_right {
        width: auto;
    }

    section.news .news_right h2{
        display: block;
    }

    article.media{
        height: auto;
    }

    section.stadium h4 {

        font-size: 40px;
    }

    section.stadium p {
        font-size: 18px;
    }

    section.stadium article.totstadium .totstadium_left {
        width: 100%;
    }

    section.stadium article.totstadium .totstadium_left .totstadium_leftbox {
        display: none;
    }

    section.stadium article.totstadium .totstadium_left .totstadium_rightbox {
        display: none;
    }

    section.stadium article.totstadium .totstadium_left img {
        width: 100%;
    }

    section.stadium article.totstadium .totstadium_txt {
        width: 100%;
    }

    section.stadium article.totstadium .totstadium_txt .tot_txtbox p {
        font-size: 16px;
    }

    article.sponsor {
        height: auto;
    }

    article.sponsor .container {
        height: auto;
    }

    article.sponsor .container .spon_top {
        height: auto;
    }

    article.sponsor .container>div {
        flex-wrap: wrap;
    }

    article.sponsor .container>div>div {
        width: 40%;
        height: 70px;
        margin-bottom: 30px;
        /* background: #ccc; */
    }

    article.sponsor .container>div>div>a {
        width: 100%;
        display: block;
        height: 100%;

    }

    article.sponsor .container img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    article.sns .container {
        width: 80%;
        font-size: 40px;
    }

    footer .container {
        width: 100%;
    }

    footer ul {
        width: 100%;
        font-size: 16px;
        gap: 20px;
    }


}

@media screen and (max-width:600px) {
    header ul li {
        width: auto;
    }

    header ul h1 {
        width: 100%;
    }

    .main_visual .main_banner {
        width: 100%;
        background-image: url(../img/main_600.jfif);
        background-repeat: no-repeat;
        background-position: center center;
        object-fit: cover;
        height: 800px;
        border-radius: 0 0 20px 20px;
        border: 0;

    }

    .main_visual .main_banner h4 {
        display: block;
        font-size: 130px;
        font-family: "Do Hyeon", sans-serif;
        color: var(--main-bg-color);
        position: relative;
        margin: 0 auto;
        padding-top: 350px;
        opacity: .8;
    }

    .main_visual .main_banner h4::before {
        position: absolute;
        content: 'SPURS';
        -webkit-text-stroke: 10px #fff;
        z-index: -1;
    }

    .main_visual .main_banner .main_bannerleft {
        display: none;
    }

    .main_visual .main_banner .main_bannerright {
        display: none;
    }

    section.rank_match {
        display: none;
    }

    article.mdshop .slide_wrap{
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }

    article.mdshop h2{
        font-size: 60px;
    }

    article.mdshop .swiper ul{
       
        height: 100%;  
    }

    article.mdshop .swiper ul li.swiper-slide a{
        display: flex;
        width: 100%;
        height: 100%;
        object-fit: cover;
        flex-direction: column;
    }

    article.mdshop .swiper ul li.swiper-slide a img{
        width: 100%;
    }

    article.mdshop .swiper ul li.swiper-slide a span{
        display: inline-block;
        padding-top: 20px;
    }

    article.mdshop .visual {
        display: none;
    }

    

    section.news .news_right{
        font-size: 20px;
        width: 100%;
    }

    section.news .news_right h2{
        font-size: 60px;
      
    }

    article.media{
        height: auto;
    }

    article.media h2{
        font-size: 60px;
    }
    article.media .slide{
        height: auto;
    }

    article.media .slide ul{
        height: auto;
        margin-bottom: 100px;
    }

    article.media .slide ul li {
        height: 100%;
    }

    section.stadium h2{
        font-size: 50px;
    }

    section.stadium h4 {

        font-size: 35px;
    }

    section.stadium article .txt_box {
        width: 100%;
        border-radius: 0px 0px 235px 235px;
        border-right: 4px solid #2D5C53;
        border-left: 4px solid #2D5C53;
    }

    section.stadium article.stadiumtour .txt_box {
        border-radius: 0px 0px 235px 235px;
        border-right: 4px solid #2D5C53;
        border-left: 4px solid #2D5C53;
    }
  
}

@media screen and (max-width:440px){
    header ul h1{
        height: 70%;
    }

    section.stadium .container{
        height: auto;
    }

    section.stadium article {
        height: 800px;
    }

    section.stadium h2{
        font-size: 40px;
    }

    section.stadium h4 {

        font-size: 30px;
    }

    section.stadium p {
        font-size: 14px;
    }

    section.stadium article.totstadium .totstadium_txt .tot_txtbox p {
        font-size: 14px;
    }

    
    section.stadium article .txt_box {
        width: 100%;
        border-radius: 0px 0px 170px 170px;
        border-right: 4px solid #2D5C53;
        border-left: 4px solid #2D5C53;
    }

    section.stadium article.stadiumtour .txt_box {
        border-radius: 0px 0px 170px 170px;
        border-right: 4px solid #2D5C53;
        border-left: 4px solid #2D5C53;
    }

    section.stadium article.totstadium {
        margin-top: 0;
        padding-bottom: 0;
        height: auto;
        padding-top: 100px;
        margin-bottom: 100px;
    }

}